body
{
    background-color: blanchedalmond;
}
h1
{   padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.heading p
{
    margin-left: 10px;

}
.heading
{
    display: flex;
    margin-left: 10px;
    
}

.parametres
{
    border: 1px solid black;
    display: block;
    margin-left: 20px;
}

.parametres img
{
    height: 30px;
    width: 30px;
}

.heading img
{
    height: 30px;
    width: 30px;
}